#title{
    background-color: #e4f9f5;
    height: 100vh;
    width: 100vw;
    font-size: 2.75rem;
    display: grid;
    font-family: "Staatliches", sans-serif;
    justify-content: center;
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 0px;
    

}

body{
    margin: 0px;
    width: 100vw;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1{
    margin-bottom: 200px;
    text-align: center;
}

.intro{
    font-family: "Ubuntu Mono";
    color: black;
    font-size: 2rem;
    text-align: center;
}
.underline{
    text-decoration: underline;
}

.middle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-family: "Alexandria", sans-serif;
    font-size: 0.4em;
    font-weight: 400;
    color: black;
}

.middle-container , h2{
    font-family: "Alexandria", sans-serif;
    font-size: 2.7rem;
    font-weight: 750;
    color: #00938A;
}
.about{
    font-family: "Alexandria";
    font-size: medium;
    margin-bottom: 100px;
    font-weight: 600;
    width: 650px;
    color: black;

}

.icons-container{
    width: 800px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr); 
    margin-bottom: 100px; 
    /* margin-right: 150px; */
}

.item {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: "Archivo", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px;
  }

.item p{
   position: absolute;
   margin-top: 95px;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-container h2{
    font-family: "Alexandria", sans-serif;
    font-weight: 350;
    color: #9DD4D0;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    text-align: center;
}

.contact h2 ,h3 {
    font-family: "Alexandria", sans-serif;
    color: #00938A;
}

.man{
    margin-top: 200px;
    border-radius: 50%;
    height: 165px;
    width: 160px;
}

.info{
    font-family: "Alexandria";
    font-size: medium;
    font-weight: 600;
    width: 500px;
    text-align: center;
}

#footer{
    background-color: #00938A;
}

li{
    list-style: none;
    font-family: "Alexandria";
    font-size: small;
}
a{
    color: #00FFF0;
}
 ul{
    margin: 0px;
    padding: 30px;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
 }

 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px;
    color:#ffffff;
    font-family: "Archivo", sans-serif;
 }

.button{
    width: 156px;
    height: 50px;
    border-radius: 9.78px;
    border: 0px;
    font-family: "Alexandria", sans-serif;
    color: white;
    background-image: linear-gradient(#78B7B3, #007871);
    transition-duration: 0.4s;
}

/*.button:hover {
    background-color: #000000; /* Green */
   /* color: white;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }*/

.button:hover {background-color: #00625b}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 10px #013533;
    transform: translateY(6px);
} 

@media(max-width: 480px) /*Mobile Devices*/
{
    #title{
        background-color: #e4f9f5;
        height: 100vh;
        width: 100vw;
        font-size: 2.75rem;
        display: grid;
        font-family: "Staatliches", sans-serif;
        justify-content: center;
        color: white;
        -webkit-text-stroke: 1px black;
        margin: 0px;
        
    
    }
    

    .pics{
        width: 50vw;
    }

    body{
        margin: 0px;
        
    }
    
    h1{
        margin-bottom: 60vw;
        text-align: center;
    }
    
    .intro{
        font-family: "Ubuntu Mono";
        color: black;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30vw;
    }
    .underline{
        text-decoration: underline;
    }
    
    .middle-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .name{
        font-family: "Alexandria", sans-serif;
        font-size: 0.4em;
        font-weight: 400;
        color: black;
    }
    
    .middle-container , h2{
        font-family: "Alexandria", sans-serif;
        font-size: 1.7rem;
        font-weight: 750;
        color: #00938A;
    }
    .about{
        font-family: "Alexandria";
        font-size: medium;
        margin-bottom: 100px;
        font-weight: 600;
        width: 65%;
        text-align: center;
        color: black;
    
    }
    
    .icons-container{
        width: 70vw;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr 1fr; 
        margin-bottom: 100px;
    }
    
    .item {
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
        font-family: "Archivo", Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 50px;
      }
    
    .item p{
       position: absolute;
       margin-top: 95px;
    }
    
    .bottom-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .bottom-container h2{
        font-family: "Alexandria", sans-serif;
        font-weight: 350;
        color: #9DD4D0;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30vw;
        text-align: center;
    }
    
    .contact h2 ,h3 {
        font-family: "Alexandria", sans-serif;
        color: #00938A;
    }
    
    .man{
        margin-top: 200px;
        border-radius: 50%;
        height: 165px;
        width: 160px;
    }
    
    .info{
        font-family: "Alexandria";
        font-size: medium;
        font-weight: 600;
        width: 75vw;
        text-align: center;
    }
    
    #footer{
        background-color: #00938A;
    }
    
    li{
        list-style: none;
        font-family: "Alexandria";
        font-size: small;
    }
    a{
        color: #00FFF0;
    }
     ul{
        margin: 0px;
        padding: 30px;
        display: flex;
        gap: 120px;
        justify-content: center;
        align-items: center;
     }
    
     .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 30px;
        color:#ffffff;
        font-family: "Archivo", sans-serif;
     }
    
    .button{
        width: 156px;
        height: 50px;
        border-radius: 9.78px;
        border: 0px;
        font-family: "Alexandria", sans-serif;
        color: white;
        background-image: linear-gradient(#78B7B3, #007871);
        transition-duration: 0.4s;
    }
    
    /*.button:hover {
        background-color: #000000; /* Green */
       /* color: white;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }*/
    
    .button:hover {background-color: #00625b}
    
    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 10px #013533;
        transform: translateY(6px);
    } 

    .circles svg{
        width: 35vw;
    }
    
}